In [1]:
import pandas as pd

In [2]:
data1=pd.read_csv('spam_ham_dataset.csv')
data2=pd.read_csv('spam.csv',encoding='ISO-8859-1')

In [3]:
df=pd.concat([data1,data2],ignore_index=True)

In [4]:
df=df.drop(columns=['Unnamed: 3'])

In [5]:
df

      label                                               text  label_num
0       ham  enron methanol ; meter # : 988291\r\nthis is a...          0
1       ham  hpl nom for january 9 , 2001\r\n( see attached...          0
2       ham  neon retreat\r\nho ho ho , we ' re around to t...          0
3      spam  photoshop , windows , office . cheap . main tr...          1
4       ham  re : indian springs\r\nthis deal is to book th...          0
...     ...                                                ...        ...
10738  spam  This is the 2nd time we have tried 2 contact u...          1
10739   ham              Will Ì_ b going to esplanade fr home?          0
10740   ham  Pity, * was in mood for that. So...any other s...          0
10741   ham  The guy did some bitching but I acted like i'd...          0
10742   ham                         Rofl. Its true to its name          0

[10743 rows x 3 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10743 entries, 0 to 10742
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   label      10743 non-null  object
 1   text       10743 non-null  object
 2   label_num  10743 non-null  int64
dtypes: int64(1), object(2)
memory usage: 251.9+ KB

In [7]:
df.duplicated().sum()

581

In [8]:
df=df.drop_duplicates(keep='first')

In [9]:
df.duplicated().sum()

0

In [10]:
df.shape

(10162, 3)

In [12]:
from nltk.corpus import stopwords
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [13]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [14]:
#stemming
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [15]:
def transform_text(text):
    text=text.lower()
    text=nltk.word_tokenize(text)
    y=[]
    for i in text:
        if i.isalnum():
            if i not in stopwords.words('english') and i not in string.punctuation:
                y.append(ps.stem(i))
    return " ".join(y)

In [16]:
df['transformed_text']=df['text'].apply(transform_text)

C:\Users\HP\AppData\Local\Temp\ipykernel_27008\4139466366.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['transformed_text']=df['text'].apply(transform_text)

In [17]:
df.head()

,label,text,label_num,transformed_text
0,ham,enron methanol ; meter # : 988291\r\nthis is a...,0,enron methanol meter 988291 follow note gave m...
1,ham,"hpl nom for january 9 , 2001\r\n( see attached...",0,hpl nom januari 9 2001 see attach file hplnol ...
2,ham,"neon retreat\r\nho ho ho , we ' re around to t...",0,neon retreat ho ho ho around wonder time year ...
3,spam,"photoshop , windows , office . cheap . main tr...",1,photoshop window offic cheap main trend abas d...
4,ham,re : indian springs\r\nthis deal is to book th...,0,indian spring deal book teco pvr revenu unders...

In [18]:
df.shape

(10162, 4)

In [19]:
df.to_csv('modified.csv',index=False)